<section class="ftco-section" id="skills-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="big big-2">Skills</h1>
                <h2 class="mb-4">My Skills</h2>
            </div>
        </div>
        <div class="d-flex justify-content-center flex-wrap gap-3 skills ftco-animate">
            <div class="ftco-animate">
                <span>ASP.Net Core</span>
            </div>
            <div class="ftco-animate">
                <span>SQL Server</span>
            </div>
            <div class="ftco-animate">
                <span>EF Core</span>
            </div>
            <div class="ftco-animate">
                <span>Azure DevOps</span>
            </div>
            <div class="ftco-animate">
                <span>Git</span>
            </div>
            <div class="ftco-animate">
                <span>Angular</span>
            </div>
            <div class="ftco-animate">
                <span>TypeScript</span>
            </div>
            <div class="ftco-animate">
                <span>JavaScript</span>
            </div>
            <div class="ftco-animate">
                <span>JQuery</span>
            </div>
            <div class="ftco-animate">
                <span>Bootstrap</span>
            </div>
            <div class="ftco-animate">
                <span>HTML</span>
            </div>
            <div class="ftco-animate">
                <span>CSS</span>
            </div>
            <div class="ftco-animate">
                <span>WinForms</span>
            </div>
            <div class="ftco-animate">
                <span>WPF</span>
            </div>
        </div>
    </div>
</section>