<section class="ftco-section ftco-no-pb" id="resume-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <h1 class="big big-2">Resume</h1>
                <h2 class="mb-4">Resume</h2>
                <p>
                    Experienced Software Developer adept in bringing forth expertise in design, installation, testing
                    and maintenance of software systems. Equipped with a diverse and promising skill-set. Experienced
                    with the latest cutting edge development tools and procedures. Able to effectively self-manage
                    during independent projects, as well as collaborate as part of a productive team.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <ul class="timeline">
                    <li class="timeline-heading text-center ftco-animate">
                        <div>
                            <h3>Work Experience</h3>
                        </div>
                    </li>
                    <li class="ftco-animate timeline-unverted" data-animate-effect="fadeIn">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="ftco-animate timeline-panel" data-animate-effect="fadeInRight">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Senior Developer</h3>
                                <span class="company">Inovola - 2023 - Current</span>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Worked on Automated Fraud Detection system to integrate with any E-Payments systems
                                    using ETL to sync data from target system to Fraud Detection system
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted ftco-animate" data-animate-effect="fadeIn">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="ftco-animate timeline-panel" data-animate-effect="fadeInLeft">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Junior Developer</h3>
                                <span class="company">G7 Software House - 2019 - 2022</span>
                            </div>
                            <div class="timeline-body">
                                <ul class="">
                                    <li>Worked on ERP system with ASP.Net for back-end and JavaScript + jQuery for
                                        front-end.</li>
                                    <li>Improved response time of server-side grid data view. </li>
                                    <li>Developed WebAPIs for mobile applications.</li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <br>
                    <li class="timeline-heading text-center ftco-animate">
                        <div>
                            <h3>Education</h3>
                        </div>
                    </li>
                    <li class="ftco-animate timeline-unverted" data-animate-effect="fadeIn">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="ftco-animate timeline-panel" data-animate-effect="fadeInLeft">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Graduation</h3>
                                <span class="company">Faculty of Commerce, Alexandria Unversity - 2015 – 2019</span>
                            </div>
                            <div class="timeline-body">
                                <p>Bachelor's degree in Management Information Systems</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>