<section id="home-section" class="hero">
    <div class="home-slider  owl-carousel">
        <div class="slider-item">
            <div class="overlay"></div>
            <div class="container">
                <div class="row d-flex no-gutters slider-text align-items-end justify-content-end"
                    data-scrollax-parent="true">
                    <div class="one-third js-fullheight order-md-last img ftco-animate"
                        style="background-image:url(assets/images/about.png);" data-animate-effect="fadeInLeft">
                        <div class="overlay"></div>
                    </div>
                    <div class="one-forth d-flex align-items-center" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">
                            <div class="ftco-animate" data-animate-delay="120" data-animate-effect="fadeInRight">
                                <span class="subheading">Hello!</span>
                                <h1 class="mb-4 mt-3">I'm a <span>full stack developer</span></h1>
                            </div>
                            <!-- <p>
                                <a href="#" class="btn btn-primary py-3 px-4 me-4">Hire me</a>
                                <a href="#projects-section" class="btn btn-white btn-outline-white py-3 px-4">My works</a>
                            </p> -->
                            <div>
                                <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                                    <li class="ftco-animate" data-animate-delay="130">
                                        <a href="https://www.linkedin.com/in/ahmed-hussien-76a74118a/" target="_blank">
                                            <span class="icon-linkedin"></span>
                                        </a>
                                    </li>
                                    <li class="ftco-animate" data-animate-delay="130">
                                        <a href="https://github.com/ahmed3061997" target="_blank">
                                            <span class="icon-github"></span>
                                        </a>
                                    </li>
                                    <li class="ftco-animate" data-animate-delay="130">
                                        <a href="https://wa.me/+201101654904" target="_blank">
                                            <span class="icon-whatsapp"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>